html {
    font-family: sans-serif;
}

body {
    margin: 0;
}





.sheet-left {
    top: 0;
    position: fixed;
    float: left;
    height: 100%;
    width: 200px;
    background: #3d1919;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3d1919 0%, #c10707 2%, #b51601 98%, #ff6b6b 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3d1919 0%, #c10707 2%, #b51601 98%, #ff6b6b 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3d1919 0%, #c10707 2%, #b51601 98%, #ff6b6b 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d1919', endColorstr='#ff6b6b', GradientType=1);
    /* IE6-9 */
}

.sheet-left li {
    list-style-type: none;
    font-size: 25px;
}

.sheet-right {
    float: right;
    background: white;
    margin-left: 220px;
    margin-right: 10px;
}

p {
    color: red;
    font-size: 25px;
}

#mp {
    border: solid 3px #522121;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    margin-top: 15px;
    width: 85%;
}

#gal img {
    max-height: 200px;
    max-width: 200px;
}

.sheet-left a {
    margin: -15px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    transition-property: color;
    transition-duration: .2s;
}

.sheet-left a:hover {
    color: yellow;
}

.lang div {
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: yellow;
}

section {
    font-size: 100%;
}

@media screen and (max-width: 650px) {
    .sheet-left {
        display: none;
    }
    /*
    .sheet-left {
        width: 100%;
        height: 45px;
        float: top;
        position: ad
        background: #3d1919;
        background: -moz-linear-gradient(top, #3d1919 8%, #c10707 12%, #b51601 88%, #ff6b6b 94%);
        background: -webkit-linear-gradient(top, #3d1919 8%, #c10707 12%, #b51601 88%, #ff6b6b 94%);
        background: linear-gradient(to bottom, #3d1919 8%, #c10707 12%, #b51601 88%, #ff6b6b 94%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d1919', endColorstr='#ff6b6b', GradientType=0);
    }

    #mp {
        display: none;
    }

    .sheet-left ul.menu li {
        display: inline;
        font-size: 100%;
        margin-right: 7%;
    }

    .sheet-right {
        margin-top: 35px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .lang a {
        float: right;
        background-color: black;
        margin: 0;
        margin-right: 5px;
    }
    */
}